<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "0.0.2" >

    <!-- versionCode is optional and Android only -->

    <name>Morks App Nr. 1</name>

    <description>
        Beschreibung ist momentan überflüssig. 
    </description>

    <author href="https://www.gymnasium-weilheim.de" email="mork@gym-weilheim.de">
        Daniel Mork 
    </author>
<gap:platform name="android" />
<gap:platform name="ios" />
<gap:platform name="winphone" />
<icon src="icon.png" />
</widget>
